@import url("./lift/lift.css");

/* Reset default styles */

:root {
    --black-color: black;
    --gray-color: gray;
    --light-sea-green-color: lightseagreen;
    --yellow-color: rgb(232, 232, 44);
    --light-coral-color: lightcoral;
    --light-blue: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}