/* Mobile style */

body {
    margin: 0 auto;
    max-width: 50rem;
    padding: 2rem;
}

#lift-simulation-container {
    height: 31.25rem;
}

#lift-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    background-color: peachpuff;
}

#lift-form div {
    display: flex;
    justify-content: space-between;
}

#lift-form input {
    padding-left: 1.05rem;
    padding-right: 1.05rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#generate-lift-btn {
    cursor: pointer;
    padding-left: 1.05rem;
    padding-right: 1.05rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--light-blue);
    border: 2px solid lightblue;
    box-shadow: 7px 7px 4px 0px rgba(114, 196, 240, 0.858);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    box-shadow: 7px 7px 4px 0px rgba(221, 134, 93, 0.733);
}

.floor {
    min-height: 10%;
    margin-top: 4rem;
}

.floor-no {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.floor-no hr {
    display: inline-block;
    width: 93%;
    vertical-align: middle;
}

.floor-no hr span {
    vertical-align: middle;
}

.floor-hr-line {
    border-bottom: 2px solid var(--black-color);
}

.floor-btn-controls button {
    padding: 0.15rem;
}

.floor-btn-controls {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.floor-btn-controls button {
    width: fit-content;
    padding: 0.35em 0.65em;
    border-radius: 0.25em;
    cursor: pointer;
}

.floor-btn-up,
.floor-btn-down {
    border: 1px solid var(--light-gray);
}

.floor-btn-up {
    background-color: var(--light-sea-green-color);
}

.floor-btn-down {
    background-color: var(--yellow-color);
}

.lifts {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 4rem;
}

.rect-lift {
    width: 20%;
    background-color: var(--light-sea-green-color);
}

.lift {
    display: flex;
}

.left-door {
    width: 50%;
    height: 4.375rem;
    background-color: var(--light-coral-color);
    transition: width 2.5s;
}

.right-door {
    width: 50%;
    height: 4.375rem;
    background-color: var(--light-blue);
    transition: width 2.5s;
}

.open {
    width: 0;
    padding-right: 0;
    padding-left: 0;
}


/* Small screen */
/* 400px */
@media(max-width: 25em) {

    .lifts {
        /* margin-left: 1rem; */
    }

    label {
        display: block;
    }

    #lift-form div {
        flex-direction: column;
    }
}

/* Desktop style */
/* 900px */
@media(min-width: 56.25em) {

    #lift-form {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .rect-lift {
        width: 10%;
    }

    #lift-form div {
        display: block;
    }

    label {
        display: inline-block;
        width: 150px;
    }
}